
.grid-item-1 {
	grid-area: 1 / 1 / 2 / 2; 
}

.Connection-div{
  width: 80vw;
  height: 50vh;
  position: absolute;
  top: 20vh;
  z-index: 3;
  left: 10vw;
  display: none;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-color: #8982FF;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.prompt{
	margin-left: 5vh;
	margin-right: 5vh;
	color: black;
	font-weight: 700;
	font-family: sans-serif;
	text-align: center;
}

.LocationGetter{
	position: absolute;
	top: 20vh;
	left: 10vw;
	width: 80vw;
	height: 50vh;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border-radius: 10px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
 	backdrop-filter: blur( 3.0px );
  -webkit-backdrop-filter: blur( 3.0px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.Country-box{
	margin-top: 2vh;
}

.Country-box,.City-box,.State-box{
	width: 60vw;
}

.Set-button{
	border: none;
	width: 8vh;
	height: 6vh;
	border-radius: 5px;
	color: #2F2E41;
	font-weight: bold;
}

.Cloud-top{
	position: absolute;
	top: 2vh;
	left: 3vw;
	animation: moveForward 30s linear infinite alternate;
}

@keyframes moveForward{
  from{
    transform: translateX(3vw);
  }
  to{
    transform: translateX(55vw);
  }
}

.Cloud-bottom{
	position: absolute;
	top: 10vh;
	right: 3vw;
	animation: moveBackward 30s linear infinite alternate;
}

@keyframes moveBackward{
  from{
    transform: translateX(0vw);
  }
  to{
    transform: translateX(-52vw);
  }
}

.Blue-balloon{
	position: absolute;
	top: 20vh;
	left: 5vw;
	z-index: 1;
	animation: Bluefloat 30s linear infinite alternate;
}

@keyframes Bluefloat{
  from{
    transform: translate(0vh,0vh);
  }
  to{
    transform: translate(58vh,-3vh);
  }
}

.Green-balloon{
	position: absolute;
	top: 22vh;
	left: 33vw;
	z-index: 1;
	animation: Greenfloat 30s linear infinite alternate;
}

@keyframes Greenfloat{
  from{
    transform: translate(0vh,0vh);
  }
  to{
    transform: translate(44vh,3vh);
  }
}

.Red-balloon{
	position: absolute;
	top: 20vh;
	left: 55vw;
	z-index: 1;
	animation: Redfloat 30s linear infinite alternate;
}

@keyframes Redfloat{
  from{
    transform: translate(0vh,0vh);
  }
  to{
    transform: translate(-40vh,-3vh);
  }
}

.Big-Blue-Balloon{
	position: absolute;
	top: 28vh;
	right: 3vw;
	height: 30vh;
  z-index: 2;
	animation: Bigfloat 10s linear infinite alternate;
}

@keyframes Bigfloat{
  from{
    transform: translateY(0vh);
  }
  to{
    transform: translateY(-4vh);
  }
}

.right-middle{
  position: absolute;
  top: 55vh;
  right: 9vw;
}

.Music-1{
  position: absolute;
  top: 42.5vh;
  left: 58vw;
  animation: music_1 4s ease-in-out infinite;
}

@keyframes music_1{
  from{
    transform: translate(0vw,0vh);
    height: 2vh;  
  }
  to{
    transform: translate(-3vw,-3vh);
    height: 3vh;
  }
}

.Music-2{
  position: absolute;
  top: 42vh;
  right: 30vw;
  animation: music_2 4s ease-in-out infinite;
}

@keyframes music_2{
  from{
    transform: translate(0vw,0vh);
    height: 2vh;  
  }
  to{
    transform: translate(3vw,-3vh);
    height: 3vh;
  }
}

.city{
	padding-top: 2vw;
	padding-left: 3vw;
	padding-right: 3vw;
	border-radius: 5px;
	box-shadow: 0 8px 16px 0 rgba( 31, 38, 135, 0.37 );
  	backdrop-filter: blur( 1.0px );
  	-webkit-backdrop-filter: blur( 1.0px );
  	background-color: #BAC6F2;
  	color: #2F2E41;
  	font-weight: bold;
}

.city-holder{
	display: flex;
	justify-content: center;
	position: relative;
	top: 25vh;
	opacity: 1;
}

/*Value Bar*/

.grid-item-2 { 
	margin-right: 2vw;
	margin-left: 2vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	grid-area: 2 / 1 / 3 / 2; 
}

.grid-item-2 p{
	font-size: 16px;
	font-weight: bold;
	position: relative;
	top: 1vh;
	left: -2vh;
}

/*Search Bar*/

.Play-icon{
	position: relative;
	top: -1px;
	left: -3px;
	width: 5vh;
}

.Searchicon{
  width: 4vh;
}

.Closeicon{
  width: 4vh;
  position: relative;
  left: 1px;
  top: 0px;
}